.Vestibulum_Commodo_Felis h2 {
    color: #003d48;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 30px;
}
.Vestibulum_Commodo_Felis p {
    color: #6dc5dd;
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.Vestibulum_Commodo_Felis {
    background-color: white;
}